body {
  background-color: honeydew;
  color: #000;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro',
               メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.website-name {
  text-align: center;
  h1 {
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
  }
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-laravel {
  background-color: skyblue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #000;
}

.nav-link {
  color: #000;
}

.rev_error {
  text-align: center;
  color: red;
}

.table {
  color: #000;
  table-layout:fixed;
  width: 100%;
  th,td, {
    background-color: #fff;
    border: 1px #000 solid;
    word-wrap: break-word;
  }
  .my_edit {
    text-align: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.style_table {
  table-layout:fixed;
  width: 100%;
  th {
    background-color: #dcdcdc;
    border: 1px #000 solid;
    width: 15%;
    padding-left: 5px;
  }
  td {
    border: 1px #000 solid;
    word-wrap: break-word;
    padding-left: 3px;
  }
}

.genre {
  border: 1px #b5b5b5 solid;
  border-radius: 10px;
  li {
    float: left;
    margin-right: 10px;
    list-style-type: none;
  }
}

.hard {
  border: 1px #b5b5b5 solid;
  border-radius: 10px;
  li {
    float: left;
    margin-right: 10px;
    list-style-type: none;
  }
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.header {
  .logo {
      width: 120px;
      height: 82px;
  }
}

.image_edit {
  width: 300px;
  img {
    width: 100%;
    background-color: #fff;
  }
}

.posts {
  .caption {
    position: relative;
    width: 300px;
    .image {
      img {
        width: 100%;
        background-color: #fff;
      }
    }
  }
  .review-field {
    background-color: #fff;
    padding: 0;
    position: relative;
    word-wrap: break-word;

    .detail_button {
      background-color: honeydew;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
